apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer
  namespace: predictive-maintenance
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer
  template:
    metadata:
      labels:
        app: producer
    spec:
      containers:
        - name: producer
          image: predictive_maintaince_platform-producer:latest
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: pm-config
