apiVersion: apps/v1
kind: Deployment
metadata:
  name: aggregator
  namespace: predictive-maintenance
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aggregator
  template:
    metadata:
      labels:
        app: aggregator
    spec:
      containers:
        - name: aggregator
          image: predictive_maintaince_platform-aggregator:latest
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: pm-config
          env:
            - name: OUTPUT_DIR
              value: /data/features_offline
          volumeMounts:
            - name: shared-data
              mountPath: /data
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: pm-shared-pvc
