apiVersion: batch/v1
kind: Job
metadata:
  name: failure-risk-trainer
  namespace: predictive-maintenance
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: failure-risk-trainer
          image: predictive_maintaince_platform-failure-risk-trainer:latest
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: pm-config
          env:
            - name: MIN_SAMPLES
              value: "100"
            - name: TEST_SIZE
              value: "0.2"
          volumeMounts:
            - name: shared-data
              mountPath: /data
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: pm-shared-pvc
