global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: redpanda
    metrics_path: /public_metrics
    static_configs:
      - targets: ["redpanda:9644"]

  - job_name: failure_risk_api
    metrics_path: /metrics
    static_configs:
      - targets: ["failure-risk-service:8000"]

  - job_name: anomaly_api
    metrics_path: /metrics
    static_configs:
      - targets: ["anomaly-service:8001"]
